<%= form_with url: sessions_path, local: true do |form| %>
  <%= flash_messages(flash) %>
  <p>
    <%= form.label :email %>
    <%= form.text_field :email, id: :email %>
  </p>
  <p>
    <%= form.label :password %>
    <%= form.password_field :password, id: :user_password %>
  </p>
  <%= form.submit 'Log in'%>
<% end %>
