<%= image_tag("guru_squared.jpg", :alt => "guru_logo", size: "40x40") %>
<h1><%= link_to "TestGuru", root_header_helper(current_user) %></h1>
<% if user_signed_in? %>
  <div><b> <%= t('.welcome', name: current_user.name) %> </b>
    | <%= link_to t(".log_out"), destroy_user_session_path, method: :delete, data: {confirm: "Уверены, что хотите выйти?"}  %></div>
<% elsif request.path == '/users/login' %>
  <%= link_to t(".sign_up"), new_user_registration_path%>
<% else  %>
  <%= link_to t(".log_in"), new_user_session_path%>
<% end %>
