<%= form_with model: [:admin, @question, @answer], local: true do |form| %>
  <%= render 'shared/errors', resource: @answer %>
  <div>
    <%= form.label :answer %>
    <br>
    <%= form.text_area :body, id: :answer_body, size: "120x5" %>
    <br>
    <%= form.label :right %>
    <%= form.check_box :correct, id: :answer_correct %>
  </div>
  <%= form.submit  %>
<% end %>
