<h2> <%= t('.header', id: @question.id, test_title: @question.test.title) %></h2>
<p>
  <strong><%= t('.question_body') %></strong>
  <p><%= @question.body %></p>
</p>
<h2><%= t('.answers') %></h2>
<table>
  <tr>
    <th><%= t('.answer_id') %></th>
    <th><%= t('.answer_body') %></th>
    <th><%= t('.right_answer') %></th>
    <th colspan="2"><%= t('.actions') %></th>
  </tr>
  <%= render @question.answers, collection: @question.answers %>
</table>
<p>
  <%= link_to t('.add_answer'), new_admin_question_answer_path(@question) %>
</p>
<br>
<%= link_to t('.edit'), edit_admin_question_path(@question) %> |
<%= link_to t('.questions'), admin_test_path(@question.test) %>
