<%= form_with model: [:admin, @test], local: true do |form| %>
  <%= render 'shared/errors', resource: @test %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, Category.order(:title), :id, :title, prompt: true %>
  </div>
  <%= form.submit  %>
<% end %>
