<tr>
  <td><%= link_to test.id, admin_test_path(test), class: %w[link-secondary] %></td>
  <td><%= test.title %></td>
  <td ><%= link_to test.questions.count, admin_test_path(test), class: %w[link-secondary]  %></td>
  <td><%= link_to t(".edit"), edit_admin_test_path(test), class: %w[link-secondary] %></td>
  <td><%= link_to t(".add_question"), new_admin_test_question_path(test), class: %w[link-secondary] %></td>
  <td><%= link_to t(".delete"), admin_test_path(test), method: :delete, class: %w[link-secondary], data: {confirm: "Уверены, что хотите удалить этот тест?"} %></td>
</tr>
