<div class="container">
  <div class="row">
    <div class="col text-center my-3">
      <h1><%= t('.header')%></h1>
    </div>
  </div>
  <div class="row">
    <table class="table " >
      <thead class="table-active ">
        <th><%= t('.test_id') %></th>
        <th class= "sort-by-title pointer">
          <%= t('.title') %>
          <i class="bi bi-caret-up-fill hide"></i>
          <i class="bi bi-caret-down-fill hide"></i>
        </th>
        <th><%= t('.questions_count') %></th>
        <th colspan="4" class= "text-center" ><%= t('.actions') %></th>
      </thead>
      <tbody>
        <%= render @tests %>
      </tbody>
    </table>
  </div>
  <div class="row">
    <%= link_to t('.add_test'), new_admin_test_path, class: %w[link-secondary] %>
  </div>
</div>
