<h1><%= t('.header')%></h1>
<br>
<table>
  <tr>
    <th><%= t('.test_id') %></th>
    <th><%= t('.title') %></th>
    <th><%= t('.questions_count') %></th>
    <th colspan="5"><%= t('.actions') %></th>
  </tr>
  <%= render @tests %>
</table>
<br>
<%= link_to t('.add_test'), new_admin_test_path %>
